* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 1.5rem;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

.container {
    background:  #150b5c;
}

.header__board {
    opacity: 0;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header__title {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.7;
    color: rgba(0, 0, 0, 0.815);
}

p {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.795);
    font-weight: 600;
}

.header__score {
    font-size: 4rem;
    margin: 0 1rem;
    color: cyan;
}

section {
    margin: 0 4rem;
    padding: 3rem;
}

.answer {
    margin: 1rem 4rem;
    font-size: 1.5rem;
}

.q {
    color: rgba(77, 77, 77, 0.774);
    font-size: 2.8rem;
    margin: 0 .2rem;
    display: inline-block;
    color: rgb(6, 207, 207);
}

.quistion {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 4rem;
    padding: 3.5rem 5rem;
    border-radius: 10px;
}

.quistion label {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 1.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
    display: inline-block;
}

.custom-radio {
    width: 2rem;
    height: 2rem;
    border: 4px solid #4b4196;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.custom-radio::before {
    content: "";
    display: inline-block;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #4b4196;
    opacity: 0;
}

.radio {
    display: none;
}

.radio:checked ~ label .custom-radio::before{
    opacity: 1;
}

.btn {
    border: 0;
    display: inline-block;
    border-radius: 100px;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    color: rgb(95, 250, 250);
    letter-spacing: 1.4;
    background-color: transparent;
    border: 1px solid rgb(95, 255, 255);
    transition: all .5s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.527);
}

.submit {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}