html {
    font-size: 10px;
    padding: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: #8a8a8a;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    right: 6rem;
    top: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    right: 6.5rem;
    top: 6.5rem;
    background: radial-gradient( #150b5c, #342d69);
    z-index: 1000;

    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;

    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
}

.navigation__item {
    margin: 1rem;
}

.navigation__icon {
    width: 3rem;
    margin-top: 1.9rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(50);
}

.navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1;
}

.header {
    background: linear-gradient(to right bottom, #150b5c, #342d69);
    background-size: cover;
    background-position: top;
    height: 95vh;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    position: relative;

    z-index: 10;
}

.text-center {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.text-center__sub {
    width: 100%;
    text-align: center;
}

.ma-bt {
    margin-bottom: 6rem;
}

.ma-top {
    margin-top: 6rem;
}

ma-auto {
    margin: 0 auto;
}

.heading-primary {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.815);
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: .5rem;
}

.test {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
}

.test--text {
    margin: 8rem 0 2rem 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    padding: .2rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.815);
    letter-spacing: 1.5;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.815);
    transition: all .5s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.527);
    color: cyan;
    border: 2px solid cyan;
}

.intro {
    padding: 15% 10rem;
    background: #ccc;
    transform: translateY(-25vh);
}

.archit {
    transform: skewY(-5deg) translateY(-35vh);
    background: linear-gradient(to right bottom, #150b5c, #342d69);
    padding: 10rem;
}

.archit > * {
    transform: skewY(5deg);
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5rem;
    color: transparent;
    background: linear-gradient(to right bottom, #150b5c, #342d69);
    -webkit-background-clip: text;
    background-clip: text;
}

.heading-secondary__sub {
    color: rgba(0, 0, 0, 0.815);
    font-weight: 400;
}

.header-tertiary {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 500;
    color: #555;
}

.text-wrapper {
    font-size: 1.5rem;
    color: #888;
    margin-top: 2rem;
    margin-left: 2rem;
}

.text-wrapper__sub {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
}

.row-2 {
    display: flex;
    justify-content: space-between;
}

.col-2 {
    width: 40%;
}

